@charset "UTF-8";
/* CSS Document */

.logo {
	width: 100;
	float: left;
	margin-top: 0px;
	margin-left: 0px;
	
}

h1 {
	text-align: center;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: lighter;
}

h2 {
	text-align: center;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	margin-top: 11em;
	margin-left: 13.5em;
	color: #000;
	font-weight: lighter;
	
}

nav {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: lighter;
	padding-top: 65px;
	margin-left: 328px;
}

nav a {
	text-decoration: none;
	display: block;
	font-size: 100%;
	font-weight: lighter;
	padding: 35px;
	display: inline-block;
	color: #000
}

nav ul{
	list-style-type: none;
	margin-right: 0;
	padding: 0;
}

nav li {
	display: inline;
}

nav li + li:before{
    content: " | ";
    padding: 0 10px;
	color: #F6B1CF;
}


.content {
  max-width: 1000px;
  margin: auto;
  background: white;
  padding: 0px;
}

.woman1 {
	padding-top: 35px;
}

.hand {
	padding-top: 10px;
}

.menuheader {
	font-weight: bold;
	font-size: 120%;
	color: #000;
	padding-bottom: 9px;
	
}

menu {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: lighter;
	max-width: 150px;
	margin: 0;
	padding: 0;
	text-align: center;
	float: left;
}

menu li {
	text-decoration: none;
	list-style-type: none;
	display: block;
	font-size: 100%;
	display: block;
	color: #000;
	padding: 5px;
}

.lips {
	padding-left: 200px;
	margin: 0;
	float: right;
}

.box1 {
	float: right;
	padding-top: 1em;
	padding-left: 4em;
}

.about {
 display: block;
  margin-left: auto;
  margin-right: auto;
	padding-top: 35px;
}

.group{
	display: block;
  margin-left: auto;
  margin-right: auto;
	padding-top: 35px;
}

p {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: lighter;
}
